.book{
    list-style: none;
    text-overflow: ellipsis;
    width:400px;
    height: 400px;
    text-align: center;
  
  
 
}
li{
    padding: 4px;
box-sizing: 100px;
border-color: black;
border-width: 4px;

}
li>button{
   
    box-sizing:30%;
    border-color: black;
    background-color: yellow;
}
li>p{
    text-align: left;
}
